@tailwind base;
@tailwind components;
@tailwind utilities;


.Hero {
    background-image: url("../assets/bg.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}



